@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka:wght@300&family=Raleway:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
    text-align: center;
    column-gap:5px;  /* Tornar o gap entre a div azul e a vermelha responsiva.  */
   
  }
  
  .flex-items1 {
    display: block;
    flex-grow: 0.5;
    background-color: blue;
    width: 836px;
    height:180px;
    text-align: ;
  }
  

  .flex-items2{
    display: block;
    flex-grow: 0.5;
    background-color: red;
    
    width: 836px;
    height:180px;
  }

  .small-items{
    background-color: purple;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    
}
  
#small-items3{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}
#small-items4{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}
#small-items5{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}
#small-items6{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}



img{
   width: 20%; 
   
}

/*estilos do footer*/

footer{
  position: relative;
  bottom: 0;
  display: flex;
  border-top: 2px solid #d3a27f;
  border-bottom: 2px solid #d3a27f;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Raleway', sans-serif;

}
footer h3{
  text-align: center;
  padding: 15px;
}
.pai ul{
  text-align: center;

}
.food {
  width: 100vh;
  height:150px;
  color: #5b4b41;
}
.food  li {

  margin: 10px;
}
.food a{
  text-decoration: none;
  color:#754c2d;
}
.descubra{
  width: 100vh;
  height:200;
  align-items: center;
  color: #5b4b41;
}
.descubra a{
  text-decoration: none;
  color:#754c2d;
}
.descubra li {

  margin: 10px;
}
.social{
  width: 100vh;
  height:150px;
  color: #5b4b41;

 
}

.social ul{
  display: flex;
  justify-content: center;
}
.social img{   
  width: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.social img:hover{
  width: 30px;
  margin-right: 20px;
  margin-top: 10px;
  transition: 300ms;
}