.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
    text-align: center;
    column-gap:5px;  /* Tornar o gap entre a div azul e a vermelha responsiva.  */
   
  }
  
  .flex-items1 {
    display: block;
    flex-grow: 0.5;
    background-color: blue;
    width: 836px;
    height:180px;
    text-align: ;
  }
  

  .flex-items2{
    display: block;
    flex-grow: 0.5;
    background-color: red;
    
    width: 836px;
    height:180px;
  }

  .small-items{
    background-color: purple;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    
}
  
#small-items3{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}
#small-items4{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}
#small-items5{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}
#small-items6{
    background-color: green;
    display: flex;
    border: solid;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}



img{
   width: 20%; 
   
}
