*{
    margin:0;
    padding: 0;
}
body{
margin: 0 auto;
}
header{
 height: 15vh;
 background-color: #f2dfd3;
 display:fixed;
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;


}
header nav{


}
header img{
    width: 150px;
}

