*{
    margin:0;
    padding: 0;
}
body{
margin: 0 auto;

}

/*Estilizaçao Header
---------------------*/
header{
 height: 15vh;
 background-color: #f2dfd3;
 display:fixed;
 padding: 10px;
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 100%;
  
}
.container-header nav{
    display: flex;
    height: 100%;
    align-items: center;
}
header img{
    width: 180px;
}
header a{
    margin: 15px;

}
.button-header{
display: flex;
flex-direction: row;
align-items: center;
}
.button-header button{
    margin:10px
}
.button-header a{
    font-size:30px;
}

